<div class="post-comp">
    <div class="content">
        <div class="header">
            <span class="day" (click)="onDayClick()">d{{dayNumber}}</span>
            <svg class="add-btn" width="32" height="32" (click)="showAddPopup = true">
                <circle cx="16" cy="16" r="15" fill="#001228" stroke="#ba7316" />
                <path d="M8,16 L24,16 M16,8 L16,24" stroke="#ba7316" stroke-width="2" />
            </svg>
            <span class="post-btn" (click)="onPostCreate()">Post!</span>
        </div>
        <div>
            <div #imagesContainer class="images">
                <div *ngFor="let photo of photos">
                    <img src={{photo.previewSrc}} (click)="photo.showControls = true" />
                </div>
            </div>
            <textarea [(ngModel)]="text"></textarea>
            <div *ngIf="videoPreviewUrl" class="video-outer">
                <div class="video-inner">
                    <iframe [src]="videoPreviewUrl | safe" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showAddPopup" class="add-popup" (click)="showAddPopup = false">
        <div class="add-content" (click)="$event.stopPropagation()">
            <div (click)="onAddImageClick()">Image</div>
            <hr>
            <div (click)="onAddVideoClick()">Video</div>
            <hr>
            <div>Link</div>
        </div>
    </div>
    <div *ngIf="showVideoPopup" class="add-popup" (click)="showVideoPopup = false">
        <div class="add-content" (click)="$event.stopPropagation()">
            <div>Enter video url</div>
            <div>
                <input type="text" [(ngModel)]="videoUrl" (keypress)="onVideoUrlKeyPress($event)" />
            </div>
        </div>
    </div>
    <input #dateSelector type="date" [ngModel]="postDate | date:'yyyy-MM-dd'" (ngModelChange)="setPostDate($event)" />
    <input #imageAttachInput type="file" name="pic" accept="image/*" (change)="onAttachmentsChange()">
</div>