.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  background-color: #eee;
  font-size: 1.5em;
}

.root input {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 10em;
  padding: 2px 10px;
  letter-spacing: 7px;
  box-shadow: 0 7px 25px 1px #aaa;
  border: rgba(127, 127, 127, 0.5) 1px solid;
  border-radius: 12px;
  background: white;
}
